.ml-1 {
	margin-left: 1vw;
}
.mb-1 {
	margin-bottom: 1vw;
}

.mr-1em {
	margin-right: 1em;
}

.mr-2em {
	margin-right: 2em;
}

.weight-300 {
	font-weight: 300;
}

.plr-10 {
	padding-right: 10px;
	padding-left: 10px;
}

.plr-1 {
	padding-right: 1vw;
	padding-left: 1vw;
}

.plr-2 {
	padding-right: 2vw;
	padding-left: 2vw;
}

.plr-3 {
	padding-right: 3vw;
	padding-left: 3vw;
}

.p-r-1 {
	padding-right: 1vw;
}

.p-r-2 {
	padding-right: 2vw;
}

.p-r-3 {
	padding-right: 3vw;
}

.t-r {
	text-align: right;
}

.t-c {
	text-align: center;
}
.t-l {
	text-align: left;
}
.w-5 {
	width: 5%;
}
.w-10 {
	width: 10%;
}
.w-15 {
	width: 15%;
}
.w-20 {
	width: 20%;
}

.w-25 {
	width: 25%;
}
.w-30 {
	width: 30%;
}
