.ml-1{
    margin-left: 1vw;
}
.mb-1{
    margin-bottom: 1vw;
}

.mr-1em{
    margin-right: 1em;
}

.mr-2em{
    margin-right: 2em;
}

.weight-300{
	font-weight: 300;
}

.plr-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.plr-1 {
    padding-right: 1vw;
    padding-left: 1vw;
}

.plr-2 {
    padding-right: 2vw;
    padding-left: 2vw;
}

.plr-3 {
    padding-right: 3vw;
    padding-left: 3vw;
}

.p-r-1 {
    padding-right: 1vw;
}

.p-r-2 {
    padding-right: 2vw;
}

.p-r-3 {
    padding-right: 3vw;
}

